# Step 1: Connect to MySQL

In [3]:
import pymysql
from dotenv import load_dotenv
import os

# Load environment variables from .env
load_dotenv()

conn = pymysql.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASS"),
    database=os.getenv("DB_NAME"),
    port=int(os.getenv("DB_PORT"))
)

cursor = conn.cursor()
print("Connection created.")

Connection created.

# Step 2: Create database and tables

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS usermgmt;")
print("Database created!")

Database created!

In [4]:
cursor.execute("USE usermgmt;")
print("Database selected!")

Database selected!

In [5]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users ( 
id INT AUTO_INCREMENT PRIMARY KEY, 
name VARCHAR(150) NOT NULL, 
email VARCHAR(255) NOT NULL UNIQUE, 
role VARCHAR(50) DEFAULT 'user' 
);

""")
connection.commit()
print("Users table created!")

Users table created!

In [4]:
from prettytable import PrettyTable

cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
columns = [col[0] for col in cursor.description]

table = PrettyTable(columns)

for row in rows:
    table.add_row(row)

print(table)

+----+--------+--------------------+---------+
| id |  name  |       email        |   role  |
+----+--------+--------------------+---------+
| 1  | Aaryan |     aaryan@123     |  Admin  |
| 3  | aarya  | aarya@123gmail.com | Manager |
| 4  | abiral |  abiral@gmail.com  |  Viewer |
+----+--------+--------------------+---------+

In [6]:
cursor.execute("SHOW TABLES;")
print("Tables:", cursor.fetchall())

connection.close()

Tables: (('users',),)